<footer class="site-footer">

 <div class="bloc l-bloc bgc-white" id="bloc-6">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-12">
				<div class="col-sm-3 text-center">
					<a class="social" href="https://twitter.com/mbellingrath"><span class="fa fa-twitter icon-md"></span></a>
				</div>
				<div class="col-sm-3 text-center">
					<a class="social" href="http://github.com/macbellingrath"><span class="fa fa-github-alt icon-md"></span></a>
				</div>
				<div class="col-sm-3 text-center">
					<a class="social" href="https://www.linkedin.com/in/mbellingrath"><span class="ion ion-social-linkedin icon-md"></span></a>
				</div>
				<div class="col-sm-3 text-center">
					<a class "social" href="mailto: hello@macbellingrath.com?Subject=Hello%20Mac" target="_blank"><span class="ion ion-android-mail icon icon-mail icon-md"></span>
                    
                    </a>
					</div>
				</div>
			</div>
		</div>
	</div>

</footer>
